@using SaveTime.Web.Admin.Models
@model IEnumerable<SaveTime.Web.Admin.Models.CompanyViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-lg-7">
        <h2>Companies</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th></th>
            </tr>

            <tbody id="tbody-company">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            <a data-id="@item.Id" class="company-edit">Edit</a> |
                            <a data-id="@item.Id" class="company-details">Details</a> |
                            <a data-id="@item.Id" class="company-delete">Delete</a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-5" id="partialView">
        @Html.Partial("_Create", new CompanyCreateViewModel())
    </div>
</div>

<div class="row" id="companyDetails">

</div>

<script src="~/Scripts/IndexCompany.js"></script>